@keyframes show_sub_nav /* Safari and Chrome */ {
  0%   {
    opacity: 0;
    display: none;
  }
  1%   {
    display: flex;
  }

  100% {opacity: 1;}
}

.fog {
  position: relative;
  background: url(image-path("gradients/gradient-2-sm.jpeg")) no-repeat;
  background-size: cover;
  background-position: 65% 11%;
  height: 100%;

  & > div {
    height: 75%;
    width: 85%;
    max-width: 1000px;
    max-height: 1000px;
    padding: 30px;
    background: rgba(22, 22, 23, 0.63);
    mix-blend-mode: darken;
    color: white;
    border-radius: 10px;
    position: relative;
  }

  .logo {
    position: absolute;
    top: 0;
    right: 1px;
    height: 40px;
    width: 40px;
    background-size: 20px;
  }

  .button.white:hover {
    background: #CCC;
  }

  header {
    background: transparent;
    mix-blend-mode: screen !important;
  }

  &.popup {
    display: flex;
    position: fixed;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    & > div {
      height: auto;
      max-height: none;
      margin: auto;
    }
  }
}

main.fog {
  margin: auto;

  & > div {
    margin-top: 70px;
  }
}

.toggle-fog-popup ~ .fog {
  display: none;
}

.toggle-fog-popup:checked ~ .fog {
  display: flex;
}

.toggle-fog-popup:checked ~ * .open {
  display: none !important;
}

.fog.popup .close {
  position: absolute;
  height: 20px;
  width: 20px;
  display: block;
  top: 0;
  right: 0;
  margin: 10px;
  cursor: pointer;

  &::after,
  &::before {
    position: absolute;
    height: 100%;
    width: 1px;
    display: block;
    content: '';
    top: 0;
    right: 0;
    left: 0;
    background: white;
    margin: auto;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &::before {
    transform: rotate(45deg);
  }
}
