<main class="fog">
  <header>
    <h1>Minimal Design</h1>
    <nav>
      <input id="toggle-header-nav" type="checkbox"></input>
      <label for="toggle-header-nav">fog</label>
      <div class="sub-nav">
        <%= link_to "home", root_path %>
        <%= link_to "about", about_path %>
      </div>
    </nav>
  </header>

  <div class="container">
    <div class="logo white"></div>
    <h1>Fogged Window</h1>
    <input type="text" placeholder="Enter Text"></input>
    <div class="button white">
      Visit Store
    </div>


  </div>
</main>
